<form action= '/new_player' method = "post">
  <legend>BlackJack</legend>
  <label>Please enter your name</label>
  <input type="text" placeholder="your name…" name ="player_name" />
  <button type="submit" class="btn">Submit</button>
</form>